.listContainer {
    display: flex;
    width: 35%;
    justify-content: space-between;
    font-size: 20px;
    width: 270px;
}

.completed {
    color: #8659A5;
}

.uncompleted {
    color: silver;
}

.uncompleted:hover {
    color: #8659A5;
}

.rating {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border: solid 2px #8659A5;
    border-radius: 2px;
    padding: 2px;
    color: #8659A5;
}