.itemWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    max-width: 200px;
    width: 100%;
    min-height: 350px;
    margin: 20px;
    background-color: white;
    position: relative;
}

img {
    width: 100%;
    object-fit: cover;
}

.buttons {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 100%;
}

.item:hover .buttons {
    opacity: 1;
}

.viewInfo {
    font-size: 1em;
    color: white;
    width: 40%;
    height: 25px;
    background-color: #8659A5;
    border-radius: 5px;
    margin-inline-start: 60px;
    margin-top: 30px;
    cursor: pointer;
}

.viewInfo p {
    margin: 5px;
}

.overview{
    padding: 5px;
}

.overview p {
    color: white;
    max-height: 200px;
    overflow: auto;
}

.closeOverview {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

