.wrapper {
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: #8659A5;
    padding: 10px;
}
.logoContainer{
    display: flex;
    justify-content: left;
    width: 500px;
    margin-left: 10%;
}

.icon {
    font-size: 3em;
}

.logo {
    padding-top: 10px;
    font-family: "Bodoni MT Black";
    font-size: 2em;
}