.container{
    display: flex;
    width: 80%;
    padding: 5px;
    margin: 30px auto 0;
    border-bottom: solid silver 1px;
}
.container a{
    font-size: 1.1em;
    font-family: Arial;
    font-weight: lighter;
    text-decoration: none;
    color: #8659A5;
    padding: 7px;
    height: 100%;
}

.container>a:hover{
    background-color: silver;
}

.container>a:focus{
   border-bottom: solid #8659A5 2px;
}
.switchingStyle{
    padding: 7px;
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}
.active{
    margin-right: 7px;
    color: rgba(0,0,0,0.6);
}
.inactive{
    margin-right: 7px;
    color: #8659A5;
}