.item {
    width: 100%;
    height: 500px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.poster {
    width: 100%;
    object-fit: cover;
    min-height: 500px;
}

.description {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    padding-left: 20px;
    padding-top: 300px;
}

.leftCase {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.title {
    font-family: Arial;
    font-size: 2em;
    color: white;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    text-overflow: ellipsis;
}

.genres {
    font-size: 1em;
    color: #8659A5;
}

.date {
    color: white;
}

.overview {
    font-family: Arial;
    font-size: 1em;
    color: white;
    max-width: 250px;
    max-height: 120px;
    margin-left: 20px;
    margin-top: 10px;
    overflow: auto;
    text-overflow: ellipsis;
    margin-right: 200px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}




